.bg{
    background-color: black;
}
.heading {    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.intro-text{
    margin-left:350px;
    margin-top: 250px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
}


.btnregister {
    background-color: transparent; /* Green */
    border: none;
    color: black;
    padding: 10px 32px;
    position: absolute;
    top:400px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid black;
  }
  
  .btnregister span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btnregister span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btnregister:hover span {
    padding-right: 25px;
  }
  
  .btnregister:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button{
    position: absolute;
    top: 45%;
    left:30%;
    transform: translate(-50%,-50%);
}

@keyframes risingemojis{
    from{top: 180px;}
    to{bottom: 0px;}
}


#risingemojis{
    position: relative; /* Declared position allows for location changes */
    top: -1800px; /* Moves the image 2px closer to the top of the page */
    height: 40px;
    width: 50px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 100px;
    animation-iteration-count:infinite;
}



.risingemojis1{
    position: relative; /* Declared position allows for location changes */
    top: -1800px; /* Moves the image 2px closer to the top of the page */
    height: 40px;
    width: 50px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 100px;
    animation-iteration-count:infinite;
}



.risingemojis2{
    position: relative; /* Declared position allows for location changes */
    top: -1900px; /* Moves the image 2px closer to the top of the page */
    height: 40px;
    width: 40px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 1100px;
    animation-iteration-count:infinite;
}

.risingemojis3{
    position: relative; /* Declared position allows for location changes */
    top: -1800px; /* Moves the image 2px closer to the top of the page */
    height: 50px;
    width: 50px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 850px;
    animation-iteration-count:infinite;
}

.risingemojis4{
    position: relative; /* Declared position allows for location changes */
    top: -1900px; /* Moves the image 2px closer to the top of the page */
    height: 40px;
    width: 40px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 950px;
    animation-iteration-count:infinite;
}

.risingemojis5{
    position: relative; /* Declared position allows for location changes */
    top: -1800px; /* Moves the image 2px closer to the top of the page */
    height: 40px;
    width: 40px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 1050px;
    animation-iteration-count:infinite;
}

.risingemojis6{
    position: relative; /* Declared position allows for location changes */
    top: -1850px; /* Moves the image 2px closer to the top of the page */
    height: 40px;
    width: 40px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 450px;
    animation-iteration-count:infinite;
}

.risingemojis7{
    position: relative; /* Declared position allows for location changes */
    top: -1510px; /* Moves the image 2px closer to the top of the page */
    height: 50px;
    width: 50px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 580px;
    animation-iteration-count:infinite;
}

.risingemojis8{
    position: relative; /* Declared position allows for location changes */
    top: -2100px; /* Moves the image 2px closer to the top of the page */
    height: 40px;
    width: 40px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-left: 1030px;
    animation-iteration-count:infinite;
}

.risingemojis9{
    position:relative; /* Declared position allows for location changes */
    top: -2100px; /* Moves the image 2px closer to the top of the page */
    height: 40px;
    width: 40px;
    animation-name: risingemojis;
    animation-duration: 12s;
    margin-right: 700px;
    animation-iteration-count:infinite;
}

.explain-image{
    height: 300px;
    width: 400px;
    margin-top: 300px;
    margin-right: 50px;
}

.what{
    position:absolute;
    top:650px;
    left: 800px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.cameralaptop{
    position: absolute;
    top:1250px;
    height: 600px;
}

#video{
    width:100px;
    height: 100px;
    border: 1px solid black;
    margin-left: 500px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#vidDisplay{
    position: absolute;
    top:1360px;
    width: 480px;
    margin-left:170px ;
    height: 300px;
}

#particles-js{
    position: absolute;
    top:90px;
    background-color: Gold;
    height: 475px;
    width: 1100px;
    margin-left:31px;
    z-index:-1;
    -webkit-box-shadow: 0 0 10px white;
    box-shadow: 0 20 10px white;
    border-radius: 2%;
}

.anim{
    position: absolute;
    top:250px;
    left:370px;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(0,0,0,1);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,1);}
  to{border-right-color: transparent;}
}

.lam{
    background-color: gold;
    height: 60px;
    width: 300px;
    margin-left: 20px;
    border-radius: 5px;
}